{% extends 'base.html.twig' %}

{% block title %}Auberge{% endblock %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <!-- Custom styles for this template -->
    {% endblock %}

    {% block javascripts %}
    {% endblock %}

{% block body %}

        <div class="bg">
            <!-- about section -->
            <section class="about_section layout_padding">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-5 offset-md-2">
                            <div class="about_detail-box">
                                <h3 class="custom_heading ">
                                    about our youth hostel
                                </h3>
                                <p class="">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="about_img-box">
                                <img style="border-radius: 15px" src="{{ asset('images/about.jpg') }}" alt="image room">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="bg">


                <!-- brand section -->

                <section class="brand_section layout_padding2">
                    <div class="container">
                        <div class="brand_heading">
                            <h3 class="custom_heading">
                                Our watch room
                            </h3>
                            <p class="font-weight-bold">
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                            </p>
                        </div>
                    </div>
                    <div class="container-fluid brand_item-container">
                        {% for room in rooms %}
                            <div class="brand_item-box" style="width: 380px">
                                <div class="brand_img-box " style="background-image: url({{ vich_uploader_asset(room.image, 'imageFile')}})" >
                                    <a href="{{ path('app_home_reservation', {'id': room.id}) }}">
                                        Reserve
                                    </a>
                                </div>
                                <div class="brand_detail-box">
                                    <h5>
                                        <span>$ {{ room.price }} </span>la nuit
                                    </h5>
                                    <h6 class="">
                                        {{ room.name }}
                                    </h6>
                                </div>
                            </div>
                        {% endfor %}

                    </div>

                </section>


                <!-- end brand section -->

            </div>

            <!-- end about section -->


        </div>
{% endblock %}