{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <h1>Reservation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Price</th>
                <th>DateIn</th>
                <th>DateOut</th>
                <th>Day</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.name }}</td>
                <td>{{ reservation.email.email }}</td>
                <td>{{ reservation.price }}</td>
                <td>{{ reservation.dateIn ? reservation.dateIn|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservation.dateOut ? reservation.dateOut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservation.day }}</td>
                <td>{{ reservation.status ? 'Yes' : 'No' }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
